	<nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand sopd-logo" href="#"><span class="glyphicon glyphicon-copy" style="color:CornflowerBlue "></span> SOPD</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-sort"></span> Sort <b class="caret"></b></a>
              <ul class="dropdown-menu" style="text-align:left">
				<li><a href="#" id="sort-by-recently-reviewed">Review Date</a></li>
				<li><a href="#" id="sort-by-newest-creation">Newest</a></li>
                <li><a href="#" id="sort-by-shortest-length">Shortest</a></li>
              </ul>
            </li>
            <li><a href="#" class="authenticate-user-button"><span class="fa fa-stack-overflow"></span> Login</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
    </nav>